Sp.MOF.Schemas/uspCumulusPOData_ProcedureResultSet.dbo.InterfaceCumulusPOData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/InterfaceCumulusPOData" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/InterfaceCumulusPOData" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.InterfaceCumulusPOData</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HubID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomizationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProfileID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubBusinessUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PayableAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyerCustomerPartyEndPointID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyerCustomerPartyIdentificationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyerCustomerPartyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyerCustomerPartyRegName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyerCustomerPartyContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyerCustomerPartyContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyerCustomerPartyContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyEndPointID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyIdentificationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerPartyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyAddtlStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyPostalZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyRegName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellerSupplierPartyContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SupplierGST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InterfaceFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0" />
  <xs:complexType name="StoredProcedureResultSet1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OrderLineNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnitPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PriceUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryLocationStreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet1" nillable="true" type="ns3:StoredProcedureResultSet1" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet1" type="ns3:StoredProcedureResultSet1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet1" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet1" />
</xs:schema>